.bg-dark {  
  background-color: rgba(0, 0, 0, 0.2) !important; /* Adjust opacity */
  backdrop-filter: blur(2px); 
  /* Adds a glass effect */
}
/* Main stuff */
body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

/* the slideshow */
.swiper {
  width: 100vw;
  height: 100vh; /* Adjust '60px' to match your navbar height */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image fills the container while maintaining aspect ratio */
}

img {
  height: auto; /* Prevents unwanted scaling */
}

/* Those cars wooshing in  */
.section-title {
  text-align: center;
  font-size: 1.5rem; /* text-2xl */
  margin: 2rem 0;
}

.car-container {
  display: flex;
  align-items: center;
}

.car-container.justify-start {
  justify-content: flex-start;
}

.car-container.justify-end {
  justify-content: flex-end;
}

.car-image {
  width: 50%;
  height: auto;
}

.car-details {
  width: 50%;
}

.car-title {
  text-align: center;
  font-size: 1.5rem; /* text-2xl */
  font-weight: bold;
  margin-bottom: 1rem;
}

.car-list {
  margin-left: 4rem; /* ml-[4rem] */
  color: #bbb; /* text-[#bbb] */
  font-size: 1.125rem; /* text-lg */
  list-style: disc; /* list-disc */
}




/* Animations */
[data-aos="fade-right"] {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-aos="fade-left"] {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translateX(0);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
}
.container {
  position: relative;
}
.meter {
  position: absolute;
  top: 21%;
  left: 49.5%;
  width: 100px;
  height: 100px;
  transform-origin: bottom center;
  animation: sweep 3s ease-in-out forwards;
}
@keyframes sweep {
  from {
      transform: rotate(-130deg);
  }
  to {
      transform: rotate(45deg);
  }
}