.root {
    -fx-base: #212121;
    -fx-background: #212121;
    -fx-text-fill: #ebebeb;
    -fx-font-size: 16px;

    /* Standard CSS for compatibility */
    background: #212121;
    background-color: #212121;
    color: #ebebeb;
    font-size: 16px;
}

.label, .button {
    -fx-text-fill: #ebebeb;
    -fx-border-radius: 5;
    -fx-background-radius: 5;

    /* Standard CSS for compatibility */
    color: #ebebeb;
    border-radius: 5px;
}

.button {
    -fx-background-color: #676767;
    -fx-text-fill: #ebebeb;

    /* Standard CSS for compatibility */
    background-color: #676767;
    color: #ebebeb;
}

.text-area, .text-field {
    -fx-control-inner-background: #303030; /* inner area where text goes */
    -fx-background-color: #303030;         /* outer background */
    -fx-text-fill: #ebebeb;                  /* text color */
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-prompt-text-fill: #ebebeb;

    /* Standard CSS for compatibility */
    background-color: #303030;
    color: #ebebeb;
    border-radius: 5px;
}
